/* ==========================================================================
	Fonts
============================================================================= */

@mixin font-face($name, $list) {

	@each $file, $weight, $style in $list {
		@font-face {
			font-family: $name;
			src: url("../fonts/#{$file}.otf");
			font-weight: $weight;

			@if $style {
				font-style: $style;
			}
		}
	}
}

@mixin u($weight: null) {

	@if $weight == 300 {
		font-family: "Unit Offc W10 Light", sans-serif;
	} @elseif $weight == 500 {
		font-family: "Unit Offc W10 Medium", sans-serif;
	} @elseif $weight == 700 {
		font-family: "Unit Offc W10 Bold", sans-serif;
	}
}

@mixin m($weight: null) {
	font-family: "Meta Serif Offc Pro";
	font-weight: $weight;
}