/* ==========================================================================
	Footer
============================================================================= */

.footer {
	text-align: center;
	
	@media print {
		display: none;
	}
}

.footer_ribbon {
	background: $navy;
	padding: 40px 0 38px;
}

.footer_ribbon_inner {}

.footer_sole {
	background: #fff;
}


// Address
// =============================================================================

.footer_address {
	@include u(500);

	color: #fff;
	font-size: 16px;
	line-height: (26 / 16);
	margin-bottom: 7px;
}

.footer_address_name {
	@include visually_hide;
}

.footer_address_street {}

.footer_address_city {}

.footer_address_state {}

.footer_address_zip {}

.footer_address_email {}

.footer_address_phone {
	color: inherit;
	display: block;
	margin-top: 8px;
}

.footer_address_icon {}

.footer_address_label {}