/* ==========================================================================
	Header
============================================================================= */

.header {
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;

	background: #fff;
	padding: 13px 0;

	@media print {
		display: none;
	}
}

.header_ribbon {}

.header_ribbon_inner {}

.header_group {
	position: absolute;
	top: 0;
	right: 0;
}