/* ==========================================================================
	Breadcrumb Navigation
============================================================================= */

.breadcrumb_nav_wrapper {
	position: relative;
	z-index: 8;

	display: none;

	@media #{$min_lg} {
		display: block;
	}

	.page_theme_default & {
		background: #F5F7F9;
	}

	.page_theme_image & {
		width: 100%;
		
		position: absolute;
		top: 0;
		left: 0;

		background: rgba($dark, .5);
	}
}

.breadcrumb_nav_inner {}

.breadcrumb_nav {}


// Breadcrumb Links
// =============================================================================

.breadcrumb_list {}

.breadcrumb_item {
	@include u(500);

	position: relative;

	display: inline-block;
	font-size: 13px;
	letter-spacing: 2.5px;
	padding: 20px 0;
	text-transform: uppercase;

	&:after {
		@include u(300);

		content: "/";
		display: inline-block;
		font-size: 18px;
		margin: 0 17px;
		vertical-align: middle;

		.page_theme_default & {
			color: $dark;
		}

		.page_theme_image & {
			color: rgba(#fff, .7);
		}
	}

	&:last-child {

		&:after {
			color: transparent;
		}
	}

	.page_theme_default & {}

	.page_theme_image & {
		color: #fff;
	}
}

.breadcrumb_link {
	color: inherit;
	transition: color .25s;
	
	&:focus,
	&:hover {}
}

.breadcrumb_name {}

.breadcrumb_name_switch {
	position: relative;

	cursor: pointer;
	transition: color .25s;

	.breadcrumb_item:hover &,
	.breadcrumb_item:focus & {
		z-index: 4;
		
		.page_theme_default & {
			color: #fff;
		}
	
		.page_theme_image & {
			color: $dark;
		}
	}
}

.breadcrumb_name_label {
	display: inline-block;
	vertical-align: middle;

	&_hide {
		@include visually_hide;
	}
}

.breadcrumb_name_icon {
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
	transition: color .25s;

	.breadcrumb_name_label + & {
		position: relative;
		top: 2px;
	}

	.page_theme_default & {
		color: $blue;
	}

	.page_theme_image & {
		color: $yellow;
	}

	.breadcrumb_item:hover &,
	.breadcrumb_item:focus & {
		
		.page_theme_default & {
			color: $navy;
		}
	
		.page_theme_image & {
			color: #fff;
		}
	}
}

.breadcrumb_dropdown {
	min-width: 230px;
	width: 100%;

	position: absolute;
	top: 0;
	left: -20px;
	z-index: 2;

	background: $navy;
	opacity: 0;
	padding: 48px 20px 20px;
	visibility: hidden;
	transition:
		opacity .25s,
		visibility .25s;

	.page_theme_image & {
		background: $yellow;
	}

	.page_theme_default & {
		background: $blue;
	}

	.breadcrumb_item:hover &,
	.breadcrumb_item:focus & {
		opacity: 1;
		visibility: visible;
	}
}

.breadcrumb_dropdown_item {
	color: #fff;
	display: block;
	font-size: 13px;
	letter-spacing: 2.5px;
	padding: 8px 0 9px;
	transition: color .25s;

	.page_theme_image & {
		color: $dark;
	}

	.page_theme_default & {
		color: #fff;
	}
		
	&:focus,
	&:hover {

		.page_theme_image & {
			color: rgba($dark, .6);
		}
	
		.page_theme_default & {
			color: rgba(#fff, .6);
		}
	}
}