/* ==========================================================================
	Quick Navigation Common
============================================================================= */

.quick_nav_wrapper {
	
	@media #{$min_lg} {
		display: flex;
	}
}

.quick_nav {}

.quick_nav_header {
	align-items: center;
	display: flex;

	@media #{$min_lg} {
		margin-right: 15px;
	}

	&:before,
	&:after {
		height: 1px;

		flex: auto;

		background: $yellow;
		content: "";

		@media #{$min_lg} {
			display: none;
		}
	}

	&:before {
		margin-right: 12px;
	}

	&:after {
		margin-left: 12px;
	}
}

.quick_nav_title {
	@include u(500);

	color: #EAE5DF;
	font-size: 12px;
	letter-spacing: 2.3px;
	margin: 0;
	text-transform: uppercase;

	@media #{$min_xl} {
		font-size: 16px;
	}
}


// Seconadry Links
// =============================================================================

.quick_nav_list {
	display: flex;
	justify-content: space-between;
}

.quick_nav_item {}

.quick_nav_link {
	@include u(500);

	color: #fff;
	display: block;
	font-size: 14px;
	line-height: (24 / 14);
	padding: 13px 0;

	@media #{$min_lg} {
		padding: 18px 15px;
	}

	@media #{$min_xl} {
		font-size: 18px;
		line-height: (24 / 18);
	}

	&:focus,
	&:hover {}
}

.quick_nav_link_label {}
