/* ==========================================================================
	Secondary Navigation Common
============================================================================= */

.secondary_nav {

	&.secondary_nav_lg {

		@media #{$max_lg} {
			display: none;
		}
	}
}

.secondary_nav_header {}

.secondary_nav_title {
	@include visually_hide;
}


// Seconadry Links
// =============================================================================

.secondary_nav_list {}

.secondary_nav_item {}

.secondary_nav_link {
	@include u(500);

	color: $yellow;
	display: block;
	font-size: 14px;
	letter-spacing: 1.6px;
	padding: 10px 0;
	text-transform: uppercase;

	&:focus,
	&:hover {}
}

.secondary_nav_link_label {}
