/* ==========================================================================
	Social Navigation
============================================================================= */

.social_nav {
	margin: 0 -10px 38px;
}

.social_nav_header {}

.social_nav_title {
	@include visually_hide;
}


// Social Links
// =============================================================================

.social_nav_list {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.social_nav_item {
	display: inline-block;
}

.social_nav_link {
	color: #fff;
	display: block;
	padding: 10px;

	&:focus,
	&:hover {}
}

.social_nav_icon {}

.social_nav_label {
	@include visually_hide;
}
