/* ==========================================================================
	Social Navigation
============================================================================= */

.social_nav {

	&_base {
		margin: 0 -10px 38px;

		@media #{$min_lg} {
			margin: 0 -20px 0;
			order: 2;
		}
	}
}

.social_nav_header {}

.social_nav_title {
	@include visually_hide;
}


// Social Links
// =============================================================================

.social_nav_list {

	.social_nav_base & {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.social_nav_item {
	display: inline-block;
}

.social_nav_link {
	display: block;

	.social_nav_base & {
		color: #fff;
		padding: 10px;

		@media #{$min_lg} {
			padding: 21px 22px 20px;
		}
	}

	.social_nav_contact & {
		color: $dark;
		padding: 20px 14px;
	}

	&:focus,
	&:hover {}
}

.social_nav_icon {
	display: block;

	@media #{$min_lg} {
		transform: scale(1.25);
	}
}

.social_nav_label {
	@include visually_hide;
}
