{% extends "_base.twig" %}

{% block page %}
	{% set page = {
		title: "Life On Campus",
		layout: "default"
	} %}
{% endblock %}

{% block page_feature %}
{% endblock %}

{% block typography %}
	<p class="intro">We are a small college and proud of it. No matter where you go on our campus, it will feel familiar. We have just over 2,000 undergraduates, and over 90% of them live on campus, so friendly faces are never far away.</p>
	<p>Though we’re close-knit, this campus also has room for students to pursue diverse interests. We have over <a href="">140 student clubs and organizations</a>, all spearheaded by students like you. We have music festivals, movies, concerts, lectures, parties, student government meetings, a cappella practice, mock trials, art shows, and almost every type of athletic event you can imagine. And when you leave campus, Hartford has farmers’ markets, shopping, concerts, theater shows, food, music, an incredible science center, and the oldest public art museum in the country.</p>
	<h3>Support for Every Student</h3>
	<p>Though students take the lead on our campus, you’ll also have a strong network of support. We have resources to help you navigate whatever challenges you face.</p>
{% endblock %}

{% block in_content_callouts %}
{% endblock %}

{% block sidebar %}
{% endblock %}
