/* ==========================================================================
	Spotlight
============================================================================= */

.spotlight {
	position: relative;
}


/* ==========================================================================
	Spotlight Heading
============================================================================= */

.spotlight_body {
	position: relative;
	padding-bottom: 66%;

	@media #{$min_sm} {
		padding-bottom: 56%;
	}

	@media #{$min_md}  {
		padding-bottom: 43%;
	}

	@media #{$min_lg} {
		position: static;
	}

	&:before,
	&:after {

		@media #{$min_lg} {
			width: 100%;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;

			content: "";
			padding-bottom: 43%;
			transition: opacity .25s;
		}
	}

	&:before {

		@media #{$min_lg} {
			background:
				linear-gradient(
					to right,
						rgba($dark, .5),
						rgba($dark, 0) 75%
				);
		}

		.interested & {

			@media #{$min_lg} {
				opacity: 0;
			}
		}
	}

	&:after {

		@media #{$min_lg} {
			background: rgba($dark, .6);
			opacity: 0;
		}

		.interested & {

			@media #{$min_lg} {
				opacity: 1;
			}
		}
	}
}

.spotlight_body_background {
	@include cover;

	&:before {
		@include cover;

		z-index: 2;

		background: rgba($dark, .6);
		content: "";

		@media #{$min_lg} {
			display: none;
		}
	}
}

.spotlight_body_inner {
	width: 100%;

	position: absolute;	
	top: 50%;
	left: 0;
	z-index: 4;

	color: #fff;
	transform: translate(0, -50%);

	@media #{$min_lg} {
		top: 45px;

		transform: none;
	}

	@media #{$min_xxl} {
		top: 68px;
	}
}

.spotlight_header {}

.spotlight_video_trigger {
	display: none;

	@media #{$min_lg} {
		color: #fff;
		display: inline-block;
		margin-bottom: 36px;
	}
}

.spotlight_video_icons {
	height: 40px;
	width: 40px;

	position: relative;

	background: rgba(#fff, .3);
	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
	vertical-align: middle;
}

.spotlight_video_icon {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	transition: opacity .25s;
}

.spotlight_video_icon_pause {

	.paused & {
		opacity: 0;
	}
}

.spotlight_video_icon_play {
	opacity: 0;

	.paused & {
		opacity: 1;
	}
}

.spotlight_video_label {
	@include u(500);

	display: inline-block;
	font-size: 15px;
	letter-spacing: 1.7px;
	opacity: 0;
	vertical-align: middle;
	text-transform: uppercase;
	transform: translate(-7px, 0);
	transition:
		opacity .25s,
		transform .25s;

	.spotlight_video_trigger:focus &,
	.spotlight_video_trigger:hover & {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.spotlight_title {
	@include u(300);

	font-size: 24px;
	line-height: (32 / 24);
	margin: 0;

	@media #{$min_sm} {
		font-size: 36px;
		line-height: (44 / 36);
	}

	@media #{$min_md} {
		font-size: 50px;
		line-height: (60 / 50);
	}

	@media #{$min_xl} {
		font-size: 80px;
		line-height: (100 / 80);
	}
}


/* ==========================================================================
	Spotlight Items
============================================================================= */

@mixin theme_spotlight() {

	@each $label, $color in $theme_colors {

		.theme_#{$label} {

			.spotlight_item_trigger {
				box-shadow: -6px 6px 0 0 $color;

				@media #{$min_lg} {
					box-shadow: -10px 10px 0 0 $color;
				}
			}
		}
	}
}

.spotlight_items {
	@include theme_spotlight;

	position: relative;
	z-index: 8;

	@media #{$min_sm} {
		display: flex;
		flex-wrap: wrap;
	}

	@media #{$min_lg} {
		border-top: 1px solid rgba(#fff, .5);
		border-bottom: 1px solid rgba(#fff, .5);
	}
}

.spotlight_item {
	position: relative;

	cursor: pointer;
	padding: 25px;
	text-align: center;

	@media #{$min_sm} {
		width: 50%;
	}

	@media #{$min_lg} {
		width: 25%;

		padding: 10px;
	}

	&:before {
		@include cover;

		z-index: 2;

		background: rgba($dark, .6);
		content: "";
		
		@media #{$min_lg} {
			transition:
				height .25s,
				width .25s,
				transform .25s;
		}
	}

	&:focus,
	&:hover {
		
		&:before {

			@media #{$min_lg} {
				height: calc(100% - 20px);
				width: calc(100% - 20px);
	
				transform: translate(10px, 10px);	
			}
		}
	}

	&:not(:last-child) {

		@media #{$min_lg} {
			border-right: 1px solid rgba(#fff, .5);
		}
	}
}

.spotlight_item_background {
	@include cover;

	@media #{$min_lg} {
		opacity: 0;
		transform: scale(.925);
		transition: 
			transform .25s,
			opacity .25s;
	}

	.spotlight_item:focus &,
	.spotlight_item:hover & {
		
		@media #{$min_lg} {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.spotlight_item_inner {
	position: relative;
	z-index: 2;

	background: rgba(#000, .4);
	color: #fff;
	padding: 44px 20px 43px;

	@media #{$min_lg} {
		background: none;
		padding: 64px 20px;
	}
}

.spotlight_item_trigger {
	height: 30px;
	width: 30px;

	position: absolute;
	top: -6px;
	right: -6px;
	z-index: 4;

	background: #fff;
	color: $dark;

	@media #{$min_lg} {
		height: 40px;
		width: 40px;

		top: -20px;
		right: -10px;
		transform: 
			translate(10px, -10px)	
			scale(0);
		transition: transform .25s;
	}

	@media #{$min_xl} {
		height: 50px;
		width: 50px;
	}

	.spotlight_item:focus &,
	.spotlight_item:hover & {
		
		@media #{$min_lg} {
			transform: 
				translate(0, 0)
				scale(1);
		}
	}
}

.spotlight_item_trigger_icon {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.spotlight_item_header {}

.spotlight_item_label {
	@include u(500);

	background: $navy;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1.5px;
	margin-bottom: 5px;
	padding: 4px 5px;
	text-transform: uppercase;

	@media #{$min_xxl} {
		font-size: 16px;
		letter-spacing: 2px;
		padding: 7px 13px;
	}
}

.spotlight_item_title {
	@include m(700);

	font-size: 18px;
	line-height: (26 / 18);
	margin: 0;

	@media #{$min_xxl} {
		font-size: 24px;
		line-height: (34 / 24);
	}
}
