/* ==========================================================================
	Utility Navigation Common
============================================================================= */

.utility_nav {
	display: none;

	@media #{$min_lg} {
		display: block;
		margin-right: 30px;
	}
}

.utility_nav_header {}

.utility_nav_title {
	@include visually_hide;
}


// Seconadry Links
// =============================================================================

.utility_nav_list {
	white-space: nowrap;
}

.utility_nav_item {
	display: inline-block;
	vertical-align: top;
}

.utility_nav_link {
	@include u(500);

	position: relative;

	color: $navy;
	display: block;
	font-size: 16px;
	letter-spacing: 2px;
	padding: 16px 24px;
	text-transform: uppercase;
	transition: 
		background .25s,	
		color .25s;

	&:after {
		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;
		left: 0;
		z-index: -2;

		background: $blue;
		content: "";
		transition: transform .25s;
		transform: scale(0);
	}

	&:focus,
	&:hover {
		color: #fff;

		&:after {
			transform: scale(1);
		}
	}
}

.utility_nav_link_label {}
