/* ==========================================================================
	Utility Navigation Common
============================================================================= */

.utility_nav {
	display: none;

	@media #{$min_lg} {
		display: block;
		margin-right: 30px;
	}
}

.utility_nav_header {}

.utility_nav_title {
	@include visually_hide;
}


// Seconadry Links
// =============================================================================

.utility_nav_list {
	white-space: nowrap;
}

.utility_nav_item {
	display: inline-block;
	vertical-align: top;
}

.utility_nav_link {
	@include u(500);

	position: relative;

	color: $navy;
	display: block;
	font-size: 16px;
	letter-spacing: 2px;
	padding: 16px 24px;
	text-transform: uppercase;
	transition: color .25s;

	&:before {
		@include cover;

		z-index: -2;

		background: $blue;
		box-shadow:
			inset 10px 10px 0 0 $frog,
			inset 20px 20px 0 0 $yellow,
			inset 40px 40px 0 0 $fire;
		clip-path:
			polygon(
				0 0,
				100% 0,
				0 0,
				0 100%
			);
		transition: 
			box-shadow .25s,
			clip-path .25s;

		.svgclippaths & {
			content: "";
		}

		.is-ie & {
			display: none;
		}
	}

	&:focus,
	&:hover {
		color: $blue;

		&:before {
			box-shadow:
				inset 0 0 0 0 $frog,
				inset 0 0 0 0 $yellow,
				inset 0 0 0 0 $fire;
			clip-path:
				polygon(
					0 0,
					100% 0,
					100% 100%,
					0 100%
				);
		}

		.svgclippaths & {
			color: #fff;
		}

		.is-ie & {
			color: $blue;
		}
	}
}

.utility_nav_link_label {}
