<div class="video_item">
	<figure class="video_item_figure">
		{{site.image("video_item", img.wide.sml, image)}}
		<button class="video_item_video" title="play video">
			<span class="video_item_video_hint">
				<span class="video_item_video_hint_icon_bubble">
					<span class="video_item_video_hint_icon">{{site.icon("play")}}</span>
				</span>
				<span class="video_item_video_hint_label">Watch the Video</span>
			</span>
		</button>
	</figure>
	<div class="video_item_body">
		<header class="video_item_header">
			<h3 class="video_item_title">{{title}}</h3>
		</header>
	</div>
</div>