
/* ==========================================================================
	wordpress fix css
============================================================================= */
body.logged-in header,
body.logged-in .alert,
body.logged-in .media_gallery_body.fs-swap-active{
	top:32px;
}
body.logged-in .mobile_sidebar {
	top: 113px;
}


/* ==========================================================================
	Google CSE
============================================================================= */
.site_search_results .gsc-control-cse {
	background: none;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 0;
}

.site_search_results .gsc-search-box {
	position: relative;
	font-size: inherit;
	margin-bottom: 0px;
}

.site_search_results .gsc-search-box td.gsc-input {
	width: 100%;
	padding-right: 0;
}

.site_search_results .gsc-search-box .gsc-input-box {
	height: auto;
}

.site_search_results .gsc-search-box input.gsc-input {
	height: auto !important;
	width: 100%;
	background-color: transparent !important;
	background-position: 20px 50% !important;
	border: 1px solid #000;
	font-size: inherit;
	margin: 0 !important;
	padding: 28px !important;
}

.site_search_results .gsc-search-box td.gsc-search-button {
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	right: 0;
	background: url() no-repeat 50% 50%/20px 20px;
}

.site_search_results .gsc-search-box td.gsc-search-button button.gsc-search-button {
	background-color: transparent;
	border-color: transparent;
}
.site_search_results .gsc-search-box td.gsc-search-button button.gsc-search-button svg {
	fill: #003473;
	height: 67px;
	width: 23px;
}

.site_search_results .gsc-search-box input.gsc-search-button {
	height: 100%;
	min-width: 100%;
	width: auto;
	border: 0;
	border-radius: 0;
	color: transparent;
	cursor: pointer;
	font-size: inherit;
	font-weight: normal;
	margin-top: 0;
	margin-left: 0;
	opacity: 0;
	padding: 10px;
}

.site_search_results .gsc-search-box td.gsc-clear-button {
	position: absolute;
	top: 0;
	right: 0;
}

.site_search_results .gsc-search-box div.gsc-clear-button {
	background: none;
	display: block;
	margin: 0;
	padding-left: 0;
	text-align: center;
}

.site_search_results .gsc-tabsArea {
	border-bottom: 0;
	display: none;
	margin: 0;
}

.site_search_results .gsc-tabsArea .gsc-tabHeader {
	border: 0;
	color: inherit;
	margin: 0;
	padding: 4px;
}

.site_search_results .gsc-refinementsArea {
	border-bottom: 0;
	display: none;
	margin-bottom: 0;
	padding: 0;
}

.site_search_results .gsc-refinementsArea .gsc-refinementHeader {
	margin: 0;
	padding: 4px;
}

.site_search_results .gsc-above-wrapper-area {
	border-bottom: 1px solid #000;
	padding: 0 0 20px;
}

.site_search_results .gsc-above-wrapper-area .gsc-result-info {
	color: inherit;
	font-size: inherit;
	margin: 0;
	padding-left: 0;
}

.site_search_results .gsc-above-wrapper-area .gsc-orderby-container {
	display: none;
}

.site_search_results .gsc-results {
	width: 100%;
	padding-bottom: 0;
}

.site_search_results .gsc-results .gsc-result:not(.gsc-imageResult) {
	border: 0;
	border-bottom: 1px solid #000;
	margin-bottom: 0;
	padding: 20px 0;
}

.site_search_results .gsc-results .gsc-table-result {
	font-family: inherit;
	font-size: inherit;
}

.site_search_results .gsc-results .gsc-thumbnail {
	padding: 0 20px 0 0;
}

.site_search_results .gsc-results .gsc-thumbnail .gs-image-box {
	height: auto;
	width: 80px;
	padding: 0;
}

.site_search_results .gsc-results .gsc-thumbnail img.gs-image {
	max-height: 100% !important;
	max-width: 100%;
	width: 100%;
	border: 0;
}

.site_search_results .gsc-results .gsc-table-cell-snippet-close {
	padding: 0;
}

.site_search_results .gsc-results div.gs-title {
	height: auto;
	color: inherit;
	font-size: inherit;
	margin-bottom: 10px;
	text-decoration: none;
}

.site_search_results .gsc-results a.gs-title {
	font-family: "Neue Haas Grotesk Display Std", sans-serif;
	font-weight: 500;
	font-size: 28px;
	line-height: 1.35714;
	height: inherit;
	color: inherit !important;
	text-decoration: inherit;
}

.site_search_results .gsc-results a.gs-title b {
	color: inherit !important;
	font-size: inherit;
	text-decoration: inherit;
}

.site_search_results .gsc-results .gs-snippet {
	font-family: "Neue Haas Grotesk Text Std", sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.76471;
	margin-bottom: 10px;
}

@media screen and (min-width: 980px) {
	.site_search_results .gsc-results .gs-snippet {
		font-size: 20px;
		line-height: 1.7;
	}
}

.site_search_results .gsc-results .gsc-url-top {
	display: none;
}

.site_search_results .gsc-results .gs-visibleUrl {
	color: #22f;
}

.site_search_results .gsc-results .gs-visibleUrl b {
	font-weight: inherit;
}

.site_search_results .gsc-expansionArea .gsc-cursor-box {
	margin-bottom: 0;
	padding: 20px 0;
	text-align: center;
}

.site_search_results .gsc-expansionArea .gsc-cursor-box .gsc-cursor-page {
	background: none;
	color: #000;
	display: inline-block;
	margin-right: 5px;
	padding: 0 5px;
	text-decoration: none;
	transition: background .25s,
 color .25s;
}

.site_search_results .gsc-expansionArea .gsc-cursor-box .gsc-cursor-page:focus, .site_search_results .gsc-expansionArea .gsc-cursor-box .gsc-cursor-page:hover {
	text-decoration: none;
}

.site_search_results .gsc-expansionArea .gsc-cursor-box .gsc-cursor-current-page {
	color: #22f;
}

.site_search_results div.gcsc-branding {
	padding-bottom: 20px;
	pointer-events: none;
}